.box{
  height: 300px;
  width: 300px;
  background-color: rgb(153, 155, 155);
  margin:20px;
  padding: 20px;
  box-sizing: border-box;
  float: left;
}

.circle{
  background-color: green;
  border-radius: 20px;
  height: 30px;
  width:30px;
  margin-right: 10px;
  float: left;
  box-shadow: 2px 2px 2px gray;
}